{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
  <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% else %}
  <form action="/login" method="post">
    {{ form.username.label }} {{ form.username }}
    <br>
    {{ form.password.label }} {{ form.password }}
    <br>
    {{ form.mfa.label }} {{ form.mfa }}
    <br>
    {{ form.csrf_token }}
    <input type="submit" value="Log In">
  </form>
  {% endif %}
  {% if form.errors %}
    <ul class="errors" id="success">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes id="result">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
{% endblock %}