{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}MFA Setup{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>Two Factor Authentication Setup</h1>
  <p>You are almost done! Open your authenticator app and scan the following QR Code with it:</p>
  <p><img id="qrcode" src="{{ url_for('auth.qrcode') }}"></p>
  <form action="/multifactor" method="post">
    {{ form.mfa_confirm.label }} {{ form.mfa_confirm }}
    <br>
    {{ form.csrf_token }}
    <input type="submit" value="Done Setting Up">
  </form>
  {% if form.errors %}
    <ul class="errors" id="success">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes id="success">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
{% endblock %}