{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Spell Checker - History{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
  {% if g.user.is_admin %}
  {% if form %}
  <form action="/history" method="post">
    {{ form.userquery.label }} {{ form.userquery }}
    <br>
    {{ form.csrf_token }}
    <input type="submit" value="Get user history">
  </form>
    {% if form.errors %}
      <ul class="errors" id="success">
          {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
                  <li>{{ form[field_name].label }}: {{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes id="success">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
  {% endif %}
  {% endif %}
  {% if queryhistory %}
  <hr>
  <h2>Query History for: {{ username }}</h2>
  <h3 id="numqueries">Total number of queries: {{ numqueries }}</h3>
  <div class="queryhistory" id="queryhistory">
    {% for query in queryhistory %}
    <a id="query{{ query.id }}" href="{{ url_for('spellcheck.query', queryid=query.id) }}">Query {{ query.id }}</a>
    {% endfor %}
  </div>
  {% else %}
  <hr>
  <h2 id="numqueries">Total number of queries: 0</h2>
  <p>No queries found.</p>
  {% endif %}
  {% else %}
  <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
{% endblock %}