{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="uname" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="pword" required>
    <br>
    <label for="2fa">2 Factor Authentication Device</label>
    <input type="tel" name="2fa" id="2fa" required>
    <br>
    <input type="submit" value="Register">
  </form>
  {% if request.args.get('registered_status') %}
  {% if request.args.get('registered_status') == 'success' %}
  <p id="success">Registration Success</p>
  {% elif request.args.get('registered_status') == 'fail' %}
  <p id="success">Registration Failure</p>
  {% endif %}
  {% endif %}
{% endblock %}