{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="uname" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="pword" required>
    <br>
    <label for="2fa">2 Factor Authentication Device</label>
    <input type="tel" name="2fa" id="2fa">
    <br>
    <input type="submit" value="Register">
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes id="success">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
{% endblock %}